name: CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up CMake
        uses: kitware/setup-cmake@v1
        with:
          cmake-version: "3.28.4"
      - name: Install build tools
        run: sudo apt-get update && sudo apt-get install -y ninja-build g++
      - name: Configure
        run: cmake --preset ninja
      - name: Build
        run: cmake --build --preset ninja
